.filter {
    margin: 18px 20px;
    & > input {
        width: 100%;
        padding: 16px 24px;
        border: 1px solid var(--C-1);
        background-color: transparent;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 24px;
    }
    &-type {
        h4 {
            font-size: 20px;
        }
        &-option{
            display: flex;
            flex-direction: column;
            padding: 16px;
            gap: 16px;
            &-item{
                display: flex;
                gap: 12px;
                font-size: 16px;
                font-weight: 300;
                input[type="checkbox"]{
                    width: 20px;
                    border: 0px solid var(--C-4) !important;
                    accent-color: var(--C-2);
                }
            }
        }
    }
}
